[Unit]
Description=Mandelbrot Fractal Generator
After=multi-user.target

[Service]
Type=simple
User=christo
WorkingDirectory=/home/christo/src/fractal
ExecStart=/home/christo/src/fractal/launch.sh
Restart=no
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
